node_modules
dist
.tmp
.sass-cache
*.swp
*.swo
# exclude all compontents files, but compiled files
app/components/*
!app/components/underscore
!app/components/unstable-angular-complete

app/components/underscore/*
app/components/unstable-angular-complete/*

!app/components/underscore/underscore.js
!app/components/unstable-angular-complete/angular.js
!app/components/unstable-angular-complete/angular-cookies.js
!app/components/unstable-angular-complete/angular-resource.js
