<div ng-init="min = 20; max = 40">
  <h2>Limit age</h2>

  <fieldset ws-interval min="20" max="40" ng-model="interval">
  </fieldset>
  <ul>
    <li>
      -<span>First name</span>:
      <span>Last name</span>:
      <span>Age</span>-
    </li>
    <!-- Use animation when there are changes on list. Checkout http://www.nganimate.org for inspiration -->
    <li ng-animate="'animate'" ng-repeat="contact in contacts | between:'age':interval.min:interval.max">
      <span><a ng-href="#/contact/{{contact.id}}/view">view</a></span>-
      <span>{{contact.firstName}}</span>:
      <span>{{contact.lastName}}</span>:
      <span>{{contact.age}}</span>-
      <span><a ng-href="#/contact/{{contact.id}}/edit">edit</a></span>
    </li>
  </ul>
</div>
