<div ng-init="min = 20; max = 40">
  <h2>Limit age</h2>
  Min: <input type="range" step="1" min="20" max="40" ng-model="min">{{min}} <br>
  Max: <input type="range" step="1" min="20" max="40" ng-model="max">{{max}}
  <table>
    <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th></th>
    </tr>
    <tr ng-repeat="contact in contacts | between:'age':min:max">
      <td><a ng-href="#/contact/{{contact.id}}/view">view</a></td>
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.age}}</td>
      <td><a ng-href="#/contact/{{contact.id}}/edit">edit</a></td>
    </tr>
  </table>
</div>
